header {
  background-color: #4dd6ff;
  height: 200px;
  width: 100%;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: rgb(131, 88, 250);
  height: 40px;
  line-height: 40px;
  color: white;
  float: right;
  padding: 0 10px;
}

main {
  width: calc(100% - 200px);
  margin-left: 200px;
}

.sections {
  display: flex;
  flex-direction: row;
  align-items: center;
}

section {
  flex: 1;
  height: 150px;
  width: 500px;
  text-align: center;
  line-height: 150px;
  color: black;
  margin: 20px 0;
  border: 1px solid #ccc;
  padding: 20px;
}

.grey-section {
  background-color: #ccc;
}

.green-section {
  background-color: #4CAF50;
}

footer {
  background-color: rgb(218, 93, 218);
  height: 100px;
  width: 100%;
  text-align: center;
  line-height: 100px;
  color: black;
  padding: 20px;
}
