header {
    background-color: #4dd6ff;
    height: 200px;
    width: 100%;
    margin: 0 auto;
    color: black;
    text-align: center;
  }
  
  nav {
    background-color: rgb(131, 88, 250);
    height: 20px;
    width: 200px;
    text-align: center;
    color: white;
    float: left;
  }
  
  main {
    width: calc(100% - 200px);
  }
  
  .sections {
    display: flex;
  }
  
  section {
    flex: 1;
    height: 150px;
    text-align: center;
    line-height: 150px;
    color: black;
  }
  
  .grey-section {
    background-color: #ccc;
  }
  
  .green-section {
    background-color: #4CAF50;
  }
  
  footer {
    background-color: rgb(218, 93, 218);
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 100px;
    color: black;
  }